a {
    color: white;
    text-decoration: none;
}

.container {
    width: 100%;
    padding: 4rem 4rem;
    display: grid;
    grid-row-gap: 3rem;
    grid-column-gap: 4rem;
    grid-template-columns: auto auto auto auto;
    align-content: start;
    background-color: #EFE5E2;
}

.product {
    border-radius: 0.5rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.product img {
    border-radius: 100%;
}

.product h2 {
    text-transform: capitalize;
    margin-block-start: 1rem;
    margin-block-end: 0;
}

.product .description {
    font-size: 0.9rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.product .sold {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #EC7650;
    color: white;
}

.cart:hover {
    background-color: #562FFA;
    cursor: pointer;
}

.layoutContentHal{
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
    background-color:#ECECEC;
    border-radius: 20px;
    max-width: fit-content;
    
}
.contentHal{
    display: inline-block;
    padding-left: 20px;
    vertical-align: middle;
    text-align: left;
    font-family: "Comic Sans MS";
   
}